@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import './scss/module.scss';
.ec-display-flex {
    display: flex;
    &.ec-wrap {
        flex-wrap: wrap;
    }
    &.ec-direction-row {
        flex-direction: row;
    }
    &.ec-direction-column {
        flex-direction: column;
    }
    &.ec-nowrap {
        flex-wrap: nowrap;
    }
    &.ec-justify-content-spacebetween {
        justify-content: space-between;
    }
    &.ec-justify-content-center {
        justify-content: center;
    }
    &.ec-align-items-center {
        align-items: center;
    }
    & .ec-align-self-center {
        align-self: center;
    }
    & .ec-flex-grow {
        flex-grow: 1;
    }
}
.ec-display-block {
    display: block;
}
.ec-display-inlineblock {
    display: inline-block;
}
.ec-display-inherit {
    display: inherit;
}
.ec-display-inlineflex {
    @extend .ec-display-flex;
    display: inline-flex;
}
.ec-display-none {
    display: none;
}
.ec-cursor-pointer {
    cursor: pointer;
}
.ec-position-absolute {
    position: absolute;
}
.ec-position-relative {
    position: relative;
}
.ec-position-fixed {
    position: fixed;
}
.ec-full-width {
    width: 100%;
}
.ec-full-height {
    height: 100%;
}
.ec-text-align-right {
    text-align: right;
}
.ec-text-align-center {
    text-align: center;
}
.ec-float-right {
    float: right;
}
.ec-no-margin {
    margin: 0;
}
.ec-margin-15 {
    margin: 15px;
}
.ec-margin-bottom-0 {
    margin-bottom: 0;
}
.ec-margin-bottom-1 {
    margin-bottom: 1px;
}
.ec-margin-bottom-2 {
    margin-bottom: 2px;
}
.ec-margin-bottom-3 {
    margin-bottom: 3px;
}
.ec-margin-bottom-4 {
    margin-bottom: 4px;
}
.ec-margin-bottom-5 {
    margin-bottom: 5px;
}
.ec-margin-bottom-10 {
    margin-bottom: 10px;
}
.ec-margin-bottom-15 {
    margin-bottom: 15px;
}
.ec-margin-top-10 {
    margin-top: 10px;
}
.ec-margin-top-15 {
    margin-top: 15px;
}
.ec-margin-right-10 {
    margin-right: 10px;
}
.ec-margin-right-15 {
    margin-right: 15px;
}
.ec-margin-left-10 {
    margin-left: 10px;
}
.ec-margin-left-15 {
    margin-left: 15px;
}
.ec-no-padding {
    padding: 0;
}
.ec-padding-right-15 {
    padding-right: 15px;
}
.ec-visibility-hidden {
    visibility: hidden;
}
.ec-overflow-hidden {
    overflow: hidden;
}
.ec-overflow-x-hidden {
    overflow-x: hidden;
}
.ec-overflow-y-hidden {
    overflow-y: hidden;
}



html, body, #root, .app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.app {
    overflow-x: hidden;
}
ul.ec-no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a.ec-no-style {
    text-decoration: none;
    color: initial;
}
.ec-action-icon {
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
}

.ec-left-transform {
    transform: rotateZ(180deg);
}