.ec-slider-wrapper {
    padding: 0 15px;
    box-sizing: border-box;
    & .ec-slider-container {
        border: 1px solid green;
    }
    & .ec-slider-cardlist-container {
        transition: transform 500ms ease 0s;
    }
    & .ec-arrow-wrapper {
        border: 1px solid rgba(155, 154, 154, 0.452);
        border-radius: 50%;
        &:hover {
            border-color: rgba(139, 139, 139, 0.267);
        }
    }
    & .ec-slide-wrapper {
        display: none;
        top: 0;
        width: 36px;
        &.ec-left {
            left: -44px;
            & .ec-arrow-wrapper {
                padding: 8px 10px 3px 6px;
            }
        }
        &.ec-right {
            right: -44px;
            & .ec-arrow-wrapper {
                padding: 8px 6px 3px 10px;
            }
        }
    }

    & .ec-item-wrapper {
        height: 200px;
        box-sizing: border-box;
        flex: 0 0 auto;
        background-color: red;
        color: black;
        border: 1px solid green;
    }
    & .icon {
        width: 100%;

    }
}

@media  (min-width: 576px) {
    .ec-slider-wrapper {
        & .ec-slider-container {
            max-width: 540px;
        }
    }
}
@media (min-width: 768px) {
    .ec-slider-wrapper {
        padding: 0 15px;
        &:hover .ec-slide-wrapper {
            display: flex;
        }
        & .ec-slider-container {
            max-width: 720px;
        }
    }
}
@media  (min-width: 992px) {
    .ec-slider-wrapper {
        & .ec-slider-container {
            max-width: 960px;
        }
    }
}
@media  (min-width: 1140px) {
    .ec-slider-wrapper {
        & .ec-slider-container {
            max-width: 1260px;
        }
    }
}